{{ partial "head.html" . }}
<body>
	{{ partial "header.html" . }}
	<div class="">
			<div class="page-title">
				<h2><i>Stories of Refrain &amp; Acclaim</i></h2>
				<div class="intro-line"></div>
			</div>

			{{- range .Data.Pages }}
			<div class="post-info">
				<a href="{{ .Permalink }}" class="">
					<div class="content">
						<h2 class="title">{{ .Title }}</h2>
						<p class="categories">{{ range .Params.categories }}{{ . }},&nbsp;{{ end }}</p>
						<p class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
					</div>
					<span>
						<div class="" style="background-image:url({{ .Site.BaseURL }}/images/philosophy.jpg)"></div>
					</span>
				</a>
			</div>
			{{- end }}

			<div class="narrative-end">
				<div class="end-line"></div>
			</div>
		</div>
	{{ partial "footer.html" . }}


</body>
</html>
