{{ partial "head.html" . }}
<body>
	{{ partial "header.html" . }}
	<div class="post wrapper">


		<div class="image" style="background-image:url({{ .Site.BaseURL }}/images/philosophy.jpg)"></div>


		<h2 data-scroll><i>{{ .Title }}</i></h2>
		<div data-scroll class="line"></div>

		{{ .Content }}

		<div data-scroll class="post-footer">

			<div class="line"></div>
			<div class="line-through tc">
				<a href="">
					<h2><i>All Posts</i></h2>
				</a>
				<div class="footer-img"></div>
			</div>

		</div>
	</div>
{{ partial "footer.html" . }}
</body>
</html>
