// Variables
$primary-font: 'Quarto';
$secondary-font: 'Roboto Slab';
$primary-color: #141415;
$secondary-color: #D0D0D0;
$white: #fff;
$gradient: linear-gradient(-180deg, #89253E 0%, #3A6186 97%);
@mixin transition-all ($transition) {
	-webkit-transition: ($transition);
	-moz-transition: ($transition);
	-ms-transform: ($transition);
	-o-transition: ($transition);
	transition: ($transition);
}

@mixin vertical-align($position: relative) {
	position: $position;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

body {
	background-color: #141415;
	color: #fff;
	width: 100vw;
	height: 100vh;
	display: block;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
}

#canvas {
	margin: 0;
	opacity: .5;
	background: #141415;
	position: fixed;
	z-index: -10;
	pointer-events: none;
}

// TYPOGRAPHY
p {
	font-family: $secondary-font;
	color: $secondary-color;
	font-size: 16px;
	font-weight: 200;
	letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $primary-font;
	color: $white;
	margin: 0;
}

h1 {
	font-size: 50px;
	color: $white;
	font-weight: 300;
	font-style: italic;
	line-height: 120%;
	text-align: center;
}

h2 {
	font-size: 64px;
	font-weight: 200;
	line-height: 110%;
}

h3 {
	font-size: 50px;
	font-weight: 200;
	line-height: 110%;
}

h4 {
	font-size: 36px;
	font-weight: 200;
	line-height: 110%;
}

h5 {
	font: Quarto-light;
	font-weight: 200;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.8px;
}

@media (max-width: 700px) {
	p {
		font-size: 16px;
	}
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 48px;
	}
	h3 {
		font-size: 40px;
	}
	h4 {
		font-size: 28px;
	}
	h5 {
		font-size: 18px;
	}
}

@media (max-width: 500px) {
	p {
		font-size: 14px;
	}
	h1 {
		font-size: 32px;
	}
	h2 {
		font-size: 38px;
	}
	h3 {
		font-size: 32px;
	}
	h4 {
		font-size: 22px;
	}
	h5 {
		font-size: 16px;
	}
}

h1.visible {
	transition: opacity 1s ease-in;
	opacity: 1.0;
}

h1.invisible {
	transition: opacity 1s ease-out;
	opacity: 0.0;
}

// BUTTONS
button,
.button,
.btn {
	font-family: $primary-font;
	font-size: 18px;
	font-weight: 200;
	color: $secondary-color;
	text-align: center;
	width: 200px;
	height: 40px;
	border: none;
	background: $gradient;
}

a {
	font-weight: 200;
	display: inline-block;
	text-decoration: none;
}

.line-through {
	position: relative;
	display: block;
	cursor: pointer;
}

.line-through:before,
.line-through:after {
	content: '';
	position: absolute;
	width: 0%;
	height: 1px;
	top: 50%;
	margin-top: -0.5px;
	background: #fff;
}

.line-through:before {
	left: -2.5px;
}

.line-through:after {
	right: 2.5px;
	background: #fff;
	transition: width 0.8s ease-in;
}

.line-through:hover:before {
	background: #fff;
	width: 100%;
	transition: width 0.5s ease-out;
}

.line-through:hover:after {
	background: transparent;
	width: 100%;
	transition: 0s;
}

.background-lines {
	position: fixed;
	width: 100%;
	height: 100%;
}

// UNIVERSAL ELEMENTS
.bg-line {
	float: left;
	width: 19.9%;
	height: 100%;
	z-index: -15;
	border-left: 1px solid rgba(255, 255, 255, 0.05);
	animation: 3s ease 1s normal forwards 1 line-reveal;
	opacity: 0;
	@keyframes line-reveal {
		0% {
			opacity: 0;
			transform: translateY(-100%);
		}
		100% {
			opacity: 1;
			transform: translateY(0)
		}
	}
}

#wrapper {
	font-size: 0px;
}

section {
	position: relative;
	display: block;
	font-size: 0px;
	width: 100%;
	height: auto;
}

.invisible {
	opacity: 0.0;
	transition: opacity 0.7s ease;
}

.visible {
	opacity: 1.0;
	transition: opacity 0.7s ease;
}

// UTILITY
.tc {
	text-align: center;
}

.u-cf:after {
	clear: both;
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

// NAVIGATION
header {
	#logo {
		img {
			position: fixed;
			top: 3%;
			left: 2%;
			z-index: 1000;
		}
	}
	.hidden {
		display: none;
	}
	#social_icons {
		position: fixed;
		bottom: 2%;
		right: 2%;
		width: 30px;
		z-index: 1000;
		a {
			padding: 0;
		}
		img {
			display: block;
			margin: 0 auto;
			padding: 10px 0;
		}
	}
	#music_icons {
		position: fixed;
		bottom: 2%;
		left: 2%;
		width: 30px;
		z-index: 1000;
		img {
			display: block;
			margin: 0 auto;
			padding: 10px 0;
		}
	}
}

.site-nav {
	z-index: 1000;
	position: fixed;
	opacity: 0;
}

.site-nav.visible {
	animation: 3s ease 0s normal forwards 1 nav-reveal;
	opacity: 1;
	@keyframes nav-reveal {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}

nav {
	position: fixed;
	top: 1%;
	right: 2%;
	ul {
		float: right;
		li {
			display: inline-block;
			float: left;
			a {
				display: inline-block;
				outline: none;
				color: #fff;
				text-align: center;
				font-size: 18px;
				font-weight: 200;
				text-decoration: none;
				padding: 0 20px;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

@media screen and (max-width: 560px) {
	#social_icons, #music_icons {
		display: none;
	}
	.nav-container {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 9900;
		background: #000;
		opacity: 0;
		transform: translateY(-100vh);
		transition: all .5s ease;
		ul {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			margin: 0;
			padding: 0;
			li {
				display: block;
				float: none;
				width: 100%;
				text-align: center;
				&:nth-child(1) a {
					transition-delay: .2s;
				}
				&:nth-child(2) a {
					transition-delay: .3s;
				}
				&:nth-child(3) a {
					transition-delay: .4s;
				}
				&:nth-child(4) a {
					transition-delay: .5s;
				}
				&:not(:first-child) {
					margin-left: 0;
				}
				a {
					padding: 5px 20px;
					color: #fff;
					font-size: 32px;
					transition: all .3s ease;
				}
			}
		}
	}
	$bar-width: 25px;
	$bar-height: 2px;
	$bar-spacing: 8px;
	.bar,
	.bar:after,
	.bar:before {
		width: $bar-width;
		height: $bar-height;
	}
	.bar {
		position: relative;
		transform: translateY($bar-spacing);
		background: rgba(255, 255, 255, 1);
		transition: all 0ms 300ms;
		position: fixed;
		right: 10px;
		top: 10px;
		display: block;
		cursor: pointer;
		z-index: 9999;
	}
	.bar:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: $bar-spacing;
		background: rgba(255, 255, 255, 1);
		transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.bar:after {
		content: "";
		position: absolute;
		left: 0;
		top: $bar-spacing;
		background: rgba(255, 255, 255, 1);
		transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	#nav:checked + .bar {
		background: rgba(255, 255, 255, 0);
	}
	#nav:checked + .bar:after {
		top: 0;
		transform: rotate(45deg);
		transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
		;
	}
	#nav:checked + .bar:before {
		bottom: 0;
		transform: rotate(-45deg);
		transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
		;
	}
}

#nav:checked ~ .nav-container {
	transform: translateY(0);
	opacity: 1;
	transition: all .5s ease;
	ul li {
		margin-bottom: 10px;
		a {
			color: white;
		}
	}
}

// HOMEPAGE
#hero {
	height: 100vh;
	.hero_bg {
		width: 100%;
		height: 100%;
		position: absolute;
		background-size: contain;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		z-index: -15;
		animation: 3s ease 2s normal forwards 1 fadein;
		opacity: 0;
		@keyframes fadein {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
	}
	.logo {
		display: block;
		margin: 0 auto;
		width: 60%;
		@include vertical-align;
		animation: fadein 4s;
		animation-timing-function: ease-in;
		@keyframes fadein {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}
	}
}

.scroll_down {
	position: absolute;
	bottom: 2%;
	right: 5%;
	animation: 3s ease 4s normal forwards 1 fade-scroll;
	opacity: 0;
	@keyframes fade-scroll {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	hr {
		width: 100px;
		height: 1px;
		background-color: #fff;
		border-width: 0px;
		transform: rotate(270deg);
	}
	p {
		color: #D0D0D0;
		font-weight: 100;
		position: relative;
		top: -85px;
		left: -2px;
		transform: rotate(270deg);
	}
}

#my_story {
	text-align: center;
	height: 100vh;
	.my_story_bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: contain;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		opacity: 0.3;
	}
	.content {
		text-align: center;
		display: block;
		width: 70%;
		margin: 0 auto;
		@include vertical-align;
	}
	h5 {
		padding: 20px 30px;
		margin: 0;
	}
}

.line-top {
	display: block;
	margin: 0 auto;
	height: 120px;
	width: 1px;
	padding: 5% 0;
	transform: translateY(0px);
}

.line-top.invisible {
	transition: all 1.5s ease-out;
	transform: translateY(-50px);
	opacity: 0;
}

.line-top.visible {
	transition: all 1.5s ease-in;
	transform: translateY(0px);
	opacity: 1;
}

.line-bottom {
	display: block;
	margin: 0 auto;
	height: 120px;
	width: 1px;
	padding: 5% 0;
}

.line-bottom.visible {
	transition: all 1.5s ease-in;
	transform: translateY(0px);
	opacity: 1;
}

.line-bottom.invisible {
	transition: all 1.5s ease-out;
	transform: translateY(50px);
	opacity: 0;
}

.borders {
	border: solid 1px #fff;
}

.borders.visible {
	transition: all 1.5s ease-in;
	opacity: 1;
}

.borders.invisible {
	transition: all 1.5s ease-out;
	opacity: 0;
}

.read-more {
	width: 200px;
	height: 40px;
	border: none;
	background: $gradient;
}

.read-more.visible {
	transition: all 1s ease-in;
	transform: translateY(0px);
	opacity: 1;
}

.read-more.invisible {
	transition: all 1s ease-out;
	transform: translateY(50px);
	opacity: 0;
}

// MY MUSIC
#my_music {
	height: 100vh;
	.content {
		text-align: center;
		display: block;
		width: 100%;
		margin: 0 auto;
		@include vertical-align;
	}
	div {
		width: 50%;
		margin: 0 auto;
	}
	.soundcloud {
		z-index: 10;
		position: relative;
	}
}

// MY NARRATIVE
#my_narrative {
	position: relative;
	height: auto;
	h1 {
		text-align: center;
	}
	.narrative {
		z-index: 100;
	}
	.darken {}
	a {
		display: initial;
	}
	.post {
		margin-top: 10%;
		width: 70%;
		height: 0;
		background: #101010;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		float: left;
		padding-bottom: 30%;
		position: relative;
		z-index: 10;
		-webkit-filter: grayscale(100%) brightness(30%);
		filter: saturate(-100%) brightness(30%);
		-webkit-transition: -webkit-filter 1s ease;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: $gradient;
			opacity: .0;
			animation: fade-bg-in 1s ease;
			@keyframes fade-bg-in {
				0% {
					opacity: .6;
				}
				100% {
					opacity: .0;
				}
			}
		}
		p {
			margin: 0;
			display: inline-block;
			z-index: 100;
		}
		h3 {
			text-align: left;
			margin: 0;
			z-index: 100;
		}
	}

	.post-2 {
		width: 30%;
		float: right;
		padding-bottom: 30%;
	}
	.post-3 {
		margin-top: 20%;
		width: 40%;
		float: left;
		padding-bottom: 40%;
	}
	.post-4 {
		margin-top: 20%;
		width: 60%;
		float: right;
		padding-bottom: 30%;
	}
	article .content {
		position: absolute;
		bottom: 20px;
		left: 20px;
	}
	.post-2 .content {
		position: absolute;
		top: 20px;
		left: 20px;
	}
	.post-3 .content {
		position: absolute;
		top: 20px;
		left: 20px;
	}
	.post-4 .content {
		position: absolute;
		bottom: 20px;
		left: 20px;
	}
	.content {
		position: relative;
		opacity: 0;
		width: 100%;
		animation: fade-out 1s ease;
		@keyframes fade-out {
			0% {
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}
	}
	article:hover {
		-webkit-filter: grayscale(0%) brightness(100%);
		filter: grayscale(0%) brightness(100%);
		-webkit-transition: -webkit-filter 1s ease;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.61);
			background-image: $gradient;
			opacity: .6;
			animation: fade-bg 1s ease forwards;
			@keyframes fade-bg {
				0% {
					opacity: 0;
				}
				100% {
					opacity: .6;
				}
			}
		}
	}
	article:hover .content {
		animation: fade 1s ease forwards;
		opacity: 1;
		@keyframes fade {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
	}
	.content hr {
		background-color: #fff;
		color: #fff;
		display: inline-block;
		width: 5%;
		transform: translateY(-5px);
		margin-right: 10px;
		animation: slide-bar-open 1s ease forwards;
		@keyframes slide-bar-open {
			0% {
				width: 15%;
			}
			100% {
				width: 5%;
			}
		}
	}
	article:hover .content hr {
		background-color: #fff;
		width: 15%;
		animation: slide-bar 1s ease forwards;
		@keyframes slide-bar {
			0% {
				width: 5%;
			}
			100% {
				width: 15%;
			}
		}
	}
	article:after {
		clear: both;
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	.narrative:after {
		clear: both;
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	.cta {
		text-align: center;
		margin: 20% auto;
		h1 {
			padding: 5% 0;
		}
	}
	@media (max-width: 700px) {
		article, article:nth-child(2), article:nth-child(3), article:nth-child(4)  {
			width: 100%;
		}
	}
}



#my_narrative:after,
#wrapper:after {
	clear: both;
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

// FOOTER
#footer {
	padding-top: 10%;
	text-align: center;
	position: absolute;
	img {
		position: absolute;
		bottom: 0;
		left: 30%;
		display: block;
		margin: 0 auto;
		width: 40%;
		opacity: 0.25;
		z-index: -1;
	}
	h3 {
		padding: 0 15px 30% 15px;
	}
	.line-through:before, .line-through:after {
		top: 60%;
		height: 2px;
	}
}

// NARRATIVE PAGE
.page-title {
	height: 100vh;
	width: 100vw;
	display: block;
	position: relative;
	padding-bottom: 10%;
	h2 {
		text-align: center;
		@include vertical-align();
	}
	.intro-line {
		width: 50%;
		position: relative;
		border-right: solid .5px #fff;
		height: 20%;
		top: 75%;
	}

}

.intro-line {
	width: 50%;
	position: relative;
	border-right: solid .5px #fff;
	height: 20%;
	top: 75%;
}

.post-info {
	height: 50vh;
	width: 100%;
	position: relative;
	text-align: center;
	overflow-x: hidden;
	a {
		width: auto;
		height: 100%;
		position: relative;
		text-decoration: none;
		display: block;
		.content {
			width: auto;
			@include vertical-align;
			p {
				opacity: 0;
				transform: translateY(15px);
			}
		}
		span {
			div {
				z-index: -1;
				position: absolute;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: cover;
				top: 0;
				right: 0;
				width: 50vw;
				height: 100%;
				opacity: 0;
				transform: translateX(50vw);
				-webkit-filter: grayscale(100%) brightness(30%);
				filter: saturate(-100%) brightness(30%);
				-webkit-transition: -webkit-filter 1s ease;
				animation: slide-closed 1s ease forwards;
				@keyframes slide-closed {
					0% {
						display: block;
						opacity: 1;
						transform: translateX(0);
					}
					99% {
						display: block;
						opacity: 0;
						transform: translateX(50vw);
					}
					100% {
						display: none;
						opacity: 0;
					}
				}
				&:before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-image: $gradient;
					opacity: .0;
					animation: fade-bg-in 1s ease;
					@keyframes fade-bg-in {
						0% {
							opacity: .6;
						}
						100% {
							opacity: .0;
						}
					}
				}
			}
		}
		@media (max-width: 700px) {
			span div {
				width: 100vw;
			}
		}
	}
	a:hover span div {
		display: block;
		-webkit-filter: grayscale(0%) brightness(100%);
		filter: grayscale(0%) brightness(100%);
		-webkit-transition: -webkit-filter 1s ease;
		animation: slide-open 1s ease forwards;
		@keyframes slide-open {
			0% {
				display: none;
				opacity: 0;
			}
			1% {
				display: block;
				opacity: 0;
				transform: translateX(50vw);
			}
			100% {
				opacity: 1;
				transform: translateX(0);
			}
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.61);
			background-image: $gradient;
			opacity: .6;
			animation: fade-bg 1s ease forwards;
			@keyframes fade-bg {
				0% {
					opacity: 0;
				}
				100% {
					opacity: .6;
				}
			}
		}
	}
	a:hover p {
		opacity: 1;
		transform: translateY(0px);
		@include transition-all(all 2s ease);
	}
}

.narrative-end {
	height: 20vh;
	width: 100vw;
	display: block;
	position: relative;
	padding-bottom: 30%;
	.end-line {
		width: 50%;
		position: relative;
		border-right: solid .5px #fff;
		height: 100%;
		top: 75%;
	}
}

// BLOG POSTS
.wrapper {
	width: 70%;
	max-width: 1500px;
	display: block;
	margin: 0 auto;
}

.post {
	position: relative;
	animation: 2s ease normal forwards 1 fade-scroll;
	opacity: 0;
	@keyframes fade-scroll {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	h2,
	h3 {
		text-align: center;
	}
	h2,
	h3,
	h4,
	h5,
	p {
		margin: 10% 0;
		line-height: 150%;
	}
	a {
		padding: 20% 0;
		text-align: center;
	}
	.image {
		width: 100%;
		height: 60vh;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin: 100px 0;
	}
	.line {
		width: 50%;
		height: 20vh;
		border-right: solid .5px #fff;
	}
	.line-through:before,
	.line-through:after {
		top: 51%;
	}
	.intro-content {
		padding: 10% 0;
		position: relative;
	}
	.post-content {
		width: 40%;
		background-color: #090909;
	}

	@media (max-width: 700px) {
		.post-content {
			width: 80%;
		}
	}
	.l {
		float: left;
		padding: 5% 3% 5% 7%;
	}
	.r {
		float: right;
		padding: 5% 7% 5% 3%;
	}
	.fw-img {
		position: absolute;
		width: 100vw;
		height: 100vh;
		background-position: center;
		background-size: cover;
	}
	.post-quote {
		position: relative;
		padding: 20vh 0;
		text-align: center;
		font-style: italic;
	}
	.post-footer {
		width: 70%;
		margin: 0 auto;
		max-width: 1500px;
		position: relative;
		margin-top: 20%;
		text-align: center;
		.line {
			transform: translateY(50%);
			pointer-events: none;
		}
		h2 {
			margin: 0;
			z-index: 10;
			position: relative;
		}
		.footer-img {
			z-index: -5;
			display: relative;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-image: url(../images/philosophy.jpg);
			position: absolute;
			top: 0;
			left: 0;
			&:after {
				content: '\A';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: rgba(0, 0, 0, 1);
				background: #000;
				opacity: 1;
				transition: all 1.5s ease-in;
			}
		}
	}
	.post-footer:hover .footer-img {
		background-color: #000;
		background-image: url(../images/philosophy.jpg);
		&:after {
			opacity: 0;
			transition: all 1.5s ease-in;
		}
	}
	.pf-alt {
		width: 50%;
		.line {
			transform: translateY(-50%);
			pointer-events: none;
			position: absolute;
		}
	}
	@media (max-width: 700px){
		.post-footer, .pf-alt {
			width: 100%;
		}
	}
}

// ABOUT
.about-content {
	width: 50%;
	height: 100vh;
	float: left;
	position: relative;
	.spacing {
		padding: 10%;
		@include vertical-align;
	}
	h1,
	p {
		text-align: left;
	}
	p {
		line-height: 170%;
	}
}

.about-img {
	float: right;
	width: 50%;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (max-width: 700px){
	.about-content, .about-img {
		width: 100%;
	}
}
