{{ partial "head.html" . }}

<body>
	{{ partial "header.html" . }}

	<div class="about-content">
		<div class="spacing">
			<h1>I am Regulus</h1>
			<p class="">{{ .Content }}</p>

		</div>
	</div>

	<div class="about-img" style="background-image:url(images/philosophy.jpg)">

	</div>


	{{ partial "footer.html" . }}

</body>
</html>
