{{ partial "head.html" . }}

<body>
	{{ partial "header.html" . }}
	<div id="wrapper">

		<section id="hero">

			<div class="hero_bg" style="background-image:url(images/home_hero_background.jpg)"></div>

			<img class="logo rellax" data-rellax-speed="-1.5" data-rellax-percentage="1" src="images/regulus_full_logo.png" alt="">

			<div class="scroll_down" id="sticky-anchor1">
				<p>scroll</p>
				<hr>
			</div>

		</section>


		<section id="my_story">

			<div class="my_story_bg" style="background-image:url(images/my_story_background.png)"></div>


			<div class="content">
				<img data-scroll="once" class="line-top" src="images/my_story_line.png" alt="">
				<div data-scroll="once" class="borders">
					<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						aliqua.</h5>
				</div>
				<img data-scroll="once" class="line-bottom" src="images/my_story_line.png" alt="">
				<button data-scroll="once" class="read-more">Read More</button>
			</div>


		</section>


		<section id="my_music">
			<div class="content">
				<h1 data-scroll="once">My Music</h1>
				<img data-scroll="once" class="line-top" src="images/my_story_line.png" alt="">
				<div class="">
					<iframe class="soundcloud" width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/295949525&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
				</div>
			</div>
		</section>


		<h1 data-scroll="once">My Narrative</h1>
		<img data-scroll="once" class="line-top" src="images/my_story_line.png" alt="">

		<section id="my_narrative" class="rellax">

			<div class="narrative">
			{{- range first 1 .Data.Pages }}
				<a href="{{ .Permalink }}">
					<article style="background-image:url({{ .Site.BaseURL }}/images/recording.jpg)" class="darken post rellax" data-rellax-speed="-1" data-rellax-percentage="2">
						<div class="content">
							<h3>{{ .Title }}</h3>
							<hr>
							<p>{{ range .Params.categories }}{{ . }},&nbsp;{{ end }}</p>
						</div>
					</article>
				</a>
			{{- end }}

			{{ range first 1 (after 1 .Data.Pages) }}
				<a href="{{ .Permalink }}">
					<article style="background-image:url({{ .Site.BaseURL }}/images/studio.jpg)" class="darken post post-2 rellax" data-rellax-speed="4">
						<div class="content">
							<h3>{{ .Title }}</h3>
							<hr>
							<p>{{ range .Params.categories }}{{ . }},&nbsp;{{ end }}</p>
						</div>
					</article>
				</a>
			{{ end }}

			{{ range first 1 (after 2 .Data.Pages) }}
				<a href="{{ .Permalink }}">
					<article style="background-image:url({{ .Site.BaseURL }}/images/guitar.jpg)" class="darken post post-3 rellax" data-rellax-speed="3">
						<div class="content">
							<h3>{{ .Title }}</h3>
							<hr>
							<p>{{ range .Params.categories }}{{ . }},&nbsp;{{ end }}</p>
						</div>
					</article>
				</a>
			{{ end }}

			{{ range first 1 (after 3 .Data.Pages) }}
				<a href="{{ .Permalink }}">
					<article style="background-image:url({{ .Site.BaseURL }}/images/philosophy.jpg)" class="darken post post-4 rellax" data-rellax-speed="-2">
						<div class="content">
							<h3>{{ .Title }}</h3>
							<hr>
							<p>{{ range .Params.categories }}{{ . }},&nbsp;{{ end }}</p>
						</div>
					</article>
				</a>
			{{ end }}

			</div>
			<div class="rellax cta" data-rellax-speed="1">
				<h1 data-scroll="once">Have I Captured Your Attention?</h1>
				<a href="/article/index.html"><button data-scroll="once" class="read-more">Read More</button></a>
			</div>
		</section>

		<section id="footer">
			<img class="" src="{{ .Site.BaseURL }}/images/footer-texture.png" alt="">
			<a href="">
				<h3><div class="line-through">Press</div></h2>
			</a>

			<a href="mail-to:jamil@iamregulus.com">
				<h3><div class="line-through">Contact</div></h2>
			</a>
			<p>2016<sup>®</sup> Regulus</p>

		</section>

	</div>

{{ partial "footer.html" . }}
	<script>
		function sticky_relocate1() {
			var window_top = $(window).scrollTop();
			var div_top = $('#sticky-anchor1').offset().top;

			if (window_top > div_top)
				$('.site-nav').addClass('visible');
			else
				$('.site-nav').removeClass('visible');

		}
		$(function () {
			$(window).scroll(sticky_relocate1);
			sticky_relocate1();
		});

	</script>

</body>
</html>
