<footer id="footer">
		<script type="" src="js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="js/rellax.min.js"></script>
		<script src="js/ScrollTrigger.min.js"></script>
		<script src="js/main.js"></script>



		<script>
			var rellax = new Rellax('.rellax', {
			 center: true
			});
		</script>

		<script>
			document.addEventListener('DOMContentLoaded', function () {
				var trigger = new ScrollTrigger();
			});
		</script>

</footer>
