<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>{{ .Title }}{{ if ne .Title .Site.Title }} // {{ .Site.Title }}{{ end }}</title>
		<meta charset="utf-8">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ .Description }}">
    <meta name="keywords" content="{{ range .Keywords }}{{ . }},{{ end }}">
    <meta name="author" content="{{ .Params.author }}">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
		<link rel="icon" type="image/png" href="images/favicon.png">
{{ .Hugo.Generator }}
</head>
