<!DOCTYPE html>
<html>

<div class="background-lines">
		<div class="bg-line"></div>
		<div class="bg-line"></div>
		<div class="bg-line"></div>
		<div class="bg-line"></div>
		<div class="bg-line"></div>
	</div>

<header class="site-nav visible" id="header">
		<div id="logo">
			<a href=""><img class="" src="{{ .Site.BaseURL }}/images/logo.svg" alt="Regulus logo"></a>
		</div>

		<nav>
			<input type="checkbox" id="nav" class="hidden" />
			<label for="nav" class="nav-open bar"></label>
			<div class="nav-container">
				<ul>
					<li class="line-through"><a href="{{ .Site.BaseURL }}">Home</a></li>
					<li class="line-through"><a href="/article/index.html">Narrative</a></li>
					<li class="line-through"><a href="{{ .Site.BaseURL }}/#music">Music</a></li>
					<li class="line-through"><a href="/about.html">About</a></li>
				</ul>
			</div>
		</nav>

		<div id="social_icons">
			<a href=""><img class="facebook" src="{{ .Site.BaseURL }}/images/facebook.svg" alt="Facebook icon"></a>
			<a href=""><img class="instagram" src="{{ .Site.BaseURL }}/images/instagram.svg" alt="Instagram icon"></a>
			<a href=""><img class="twitter" src="{{ .Site.BaseURL }}/images/Twitter.svg" alt="Twitter icon"></a>
		</div>

		<div id="music_icons">
			<a href=""><img class="apple_music" src="{{ .Site.BaseURL }}/images/apple_music.svg" alt="Apple Music"></a>
			<a href=""><img class="spotify" src="{{ .Site.BaseURL }}/images/spotify.svg" alt="Spotify"></a>
		</div>
</header>
